/* 제목 */
h1.PF-title {
    font-size: clamp(18px, 3vw, 2.5rem);
    line-height: 1.1;
    text-align: center;
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    background-color:#f7f9f3;
}


/* 폼 */
.PF-form {
    display: flex;
    flex-direction: column;
}

.PostForm .PF-titleDiv input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.PF-toolbarBottom {
    margin-bottom: 1rem;
}

/* 미리보기 */

.PostForm textarea {
    width: 100%;
    height: 180px;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
    outline-style: none;
}

.PF-preview {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 20px 0px;
}

/* -- 썸네일 -- */
.PF-previewThumb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.PF-previewImg {
    border: 1px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PF-thumbnail img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.PF-thumbnail>button {
    position: absolute;
    top: -6px;
    right: -6px;
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 툴바 */
.Toolbar button {
    padding: 6px 10px;
    border: 1px solid #ddd;
    color: black;
    border-radius: 6;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
    min-width: 40px;
    height: 40px;
}

.Toolbar.button {
    display: flex;
}

.PF-toolbarTop {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.PF-toolbarTop button {
    margin-right: 0.5rem;
}

.PF-toolbarBottom {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.PF-toolbarBottom select {
    padding: 0.3rem;
}

/* 본문 */
.ed-content {
    border: 1px solid black;
}

/* 태그 */

.PostTag {
    margin-left: 10px;
}

.PT-addTag {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.PT-addTag input {
    box-sizing: border-box;
    padding-left: 2px;
    width: 70%;
}

.PostTag label {
    margin-left: 4px;
}

/* 전송 버튼 */
.PostForm button[type="submit"] {
    margin: 20px 0;
}

/* 툴바 이미지 */
.Toolbar img {
    width: 100%;
    height: 100%;
}

@media(max-width:700.99px) {


    .PF-preview {
        display: flex;
        flex-direction: column;
    }

    .PF-previewThumb {
        display: flex;
        align-items: unset;
        justify-content: center;
        margin: 2rem 0;
    }

    .PF-previewText {
        order: 2;
    }

    .PT-bto.i-btn {
        min-width: 70px;
    }
}