/* --- 메인 박스 --- */

.PostList main{
    padding: 0 3rem;
    margin-top: 2rem;
}

.PL-noData {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- 상단 --- */
.PL-top {
    padding-inline: 40px;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 2rem;
}

.PL-top-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

/* 제목 검색 */
.PL-topInput {
    width: 55%;
    text-align: end;
    display: flex;
    justify-content: flex-start;
}

.PL-topInput input{
    width:50%;
    height: 38px;
    margin-left: 10px;
}

.PL-topInput button{
    margin-left: 10px;
    height: 43px;
}

/* 태그 */
.PL-getTag{
    margin: 10px 0;
}

.PL-topTag button{
    background: #f7f9f3;
    display: flex;
    align-items: center;
    padding-right: 9px;
    height: 43px;
}

.PL-getTag span {
    background: #f7f9f3;
    margin-right: 10px;
    padding: 2px;
    border-radius: 1px;
}

.SearchPostTag {
    position: relative;
}

.SPT-tagBox {
    position: absolute;
    background: #ffffffad;
    width: 100%;
    padding-left: 10px;
}

.SPT-tagBox ul{
    list-style: none;
    padding-left:0px;
}

/* 화살표 수정 */

.PL-topTag button .arrow-big::before,
.PL-topTag button .arrow-big::after{
    width:3px;
    height: 11px;
}

.PL-topTag button .arrow-big.down::before{
  transform: translate(-50%, -50%) rotate(45deg);
  left: 60%;
}

.PL-topTag button .arrow-big.down::after{
    transform: translate(-50%, -50%) rotate(-45deg);
    left: 41%;
}

.PL-topTag button .arrow-big.up::before{
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 60%;
}

.PL-topTag button .arrow-big.up::after{
    transform: translate(-50%, -50%) rotate(45deg);
    left: 41%;
}


/* --- 글 --- */

.PL-post.odd .PL-subBox{
    position:relative;
}

.PL-post.odd .PL-text{
    margin-left:1rem;
}


.PL-post.even .PL-subBox{
    display: flex;
}

.PL-post.odd .PL-imgBox{
    order: 1;
} 

.PostList{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

ol.PL-content {
    margin-top: 3rem;
    padding-left: 0;
}

.PL-post {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    padding: 1rem;
    border: 2px solid #f7f9f3;
    max-height: 210px;
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 29%);
    border-radius: 16px;
}

.PL-imgBox {
    width: 285px;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    overflow: hidden;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}


img.PL-img {
    max-height: calc((142px - 2px) * 1.618 - 10px);
    width:100%;
    object-fit:cover;
    border-radius:16px;
}


.PL-text {
    margin-left: 2rem;
    padding-top: 2rem;
    width: 729px;
    max-width: 729px;
    height:200px;
}

.PL-bt {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    
}

.PL-bt img{
    width:0.8rem;
}

/* 업데이트 날짜 */
.PL-post.even .PL-update{
    order: 3;
} 

.PL-post.odd .PL-update{
    position:absolute;
    left:1rem;
    order: 3;
} 

.PL-update{
    font-size: 12px;
    color: rgb(102 102 102 / 52%);
    margin-bottom: 8px;
    width:15%;
}


/* --- 하단 --- */

.PL-bt button{
    margin-left:10px;
}

.PL-bt .PL-page{
    background:none;
    color:gray;
}

.PL-bt .PL-page.chk{
    color:black;
}

.PL-bt .PL-pageArrow {
    padding: 2px;
    background: #f7f9f3;
}

.PL-pageArrow.color .arrow-big::before,
.PL-pageArrow.color .arrow-big::after
 {
    background:gray;
}
