.post-content img {
    display: inline-block;
    vertical-align: middle;
}

.postViewer {
    height: 100dvh;
    padding: 20px;
}

/*--- 헤더 ---*/

.PD-header {
    margin-top: 100px;
}

.PostDetails .PD-title {
    font-size: 2rem;
    text-align: center;
}

.PD-headerSub1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 45px;
}

.PD-date {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    justify-content: flex-end;
}

.PD-tags {
    flex: 0 0 100%;
    padding: 1rem;
}

span.PD-tag {
    background: #dcdada;
    margin-right: 15px;
    padding: 7px;
}

.PostDetails .Post-like {
    min-width: 35px;
    overflow: hidden;
}

.PostDetails .Post-like button {
    background: none;
}

.PostDetails .Post-like img {
    width: clamp(25px, 5vw, 35px);
}

.ProseMirror img{
  max-width: 100%;
  height: auto;
}

/*Youtube*/
.PostDetails .yt-wrap {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PostDetails iframe {
    width: 90%;
    height: 90%;
    border: 0;
    display: block;
}

.PostDetails .yt-wrap > a {
    display:block;
    width:90%;
}