.navbar {
    width:100%;
    margin-top: 0.5rem;
    background: #f7f9f3;
}

.logo{
    width: 15%;
    margin: 1rem 0 1rem 1rem;
}

.Nb-box {
    display: flex;
    justify-content: space-between;
}

.Nb-bt {
    display: flex;
    align-items: flex-end;
    margin-right: 1rem;
}

.nav-button{
    background:none;
}


