.navbar {
    width:100%;
    margin-top: 0.5rem;
}

.logo{
    width: 20%;
    margin-left: 1rem;
}

.Nb-box {
    display: flex;
    justify-content: space-between;
}

.Nb-bt {
    display: flex;
    align-items: flex-end;
    margin-right: 1rem;
}

.navbarUnder {
    border-bottom: 2px solid #f7f9f3;
}