#root{
    min-height : 100vh;
    width : 100%;
}

.home {
    display: flex;
    flex-direction: column;
}

.HM-s1 {
    width: 100%;
    height: 1280px;
    background: #f7f9f3;
    display: grid;
    grid-template-columns: 50% 50%;
}

.HM-sub1-img {
    width: 60%;
    height: 300px;
    background: beige;
    margin: 120px 0 0 10rem;
}

.HM-sub1-text {
    width: 60%;
    height: 400px;
    background: green;
    margin-left: 10rem;
}

.HM-s1sub2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.HM-sun2-img {
    width: 60%;
    height: 300px;
    background: beige;
    margin: 0 10rem 120px 0;
}

.HM-sub2-text {
    width: 60%;
    height: 400px;
    background: green;
    margin-right: 10rem;
}

.HM-ft{
  width:100%;
  height: 150px;
  background: #f7f9f3;
  margin-top:0.2rem;
}

footer.HM-ft {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HM-ft-text {
    margin-left: 3rem;
}

.home-container button:hover{
  color:#015500;
}