.home-grid{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 12px;
  margin: 3rem 0;
}

/* 카드 기본 */
.home-card{
  border: 0;
  padding: 0;
  background: transparent;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.08);
  transform: translateY(0);
  transition: transform .18s ease, box-shadow .18s ease;
  position: relative;
}

.home-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

.home-card img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;     
  transform: scale(1);
  transition: transform .25s ease;
}

.home-card:hover img{
  opacity: 0.2;
}

.home-card .contant{
  position: absolute;
  inset: 0;
  display:flex; align-items:center; justify-content:center;
  opacity:0;
  transition:.2s;
  pointer-events:none;
}

.home-card:hover .contant{opacity:1;}


/* 크기 패턴 */
.big  { grid-column: span 8; grid-row: span 2; aspect-ratio: 16/9; }
.wide { grid-column: span 6; grid-row: span 1; aspect-ratio: 21/9; }
.tall { grid-column: span 4; grid-row: span 2; aspect-ratio: 3/4; }
.mid  { grid-column: span 4; grid-row: span 1; aspect-ratio: 4/3; }
.small{ grid-column: span 3; grid-row: span 1; aspect-ratio: 1/1; }

/* 반응형 */
@media (max-width: 900px){
  .home-grid{ grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .big{ grid-column: span 6; }
  .wide{ grid-column: span 6; }
  .tall{ grid-column: span 3; }
  .mid{ grid-column: span 3; }
  .small{ grid-column: span 2; }
}

@media (max-width: 520px){
  .home-grid{ grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .big,.wide,.tall,.mid,.small{
    grid-column: span 2;
    aspect-ratio: 4/3;
  }
}
