:root {
  font-size: clamp(10px, 1.3vw, 0.95rem);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}
a:hover {
  color: #015500;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Noto Sans KR", system-ui, -apple-system, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button.subBtn:hover {
  background-color: #b5e48c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #015500;
  }
  button {
    background-color: #f9f9f9;
  }
  
}

.container{
  width: min(100%, 80rem);
  margin-inline:auto;
}

.inner{
  padding-inline: 1.5rem;
}

.i-btn:hover{
  background-color:#d9ed92;
}

.i-errMessage{
  list-style:none;
  color:red;
  margin-bottom: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input::placeholder{
  font-size: clamp(10px, 1.3vw, 0.95rem);
}

input:focus {
    outline: none;
    border-color: #d9ed92;
}
