.UserList{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.UL-user {
    margin-bottom: 3rem;
}

.UL-user-img{
    width:15%;
    margin-right: 10px;
}

.UL-user-content {
    border: 3px solid #f7f9f3;
    padding: 1.2rem;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.4rem;
}

.UL-bt{
    display:flex;
    justify-content:center;
}

.UL-bt img{
  width:0.5rem;
  padding:0;
}

.UL-bt div{
    width:6rem;
    text-align:center;
}

.UL-bt button{
    padding:0;
}