.membership-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: clamp(260px, 25vw, 500px);
}

.membership-main{
    width: 100%;
    border: 1.5px solid #015500;
    margin-top: clamp(13px, 2vw, 50px);
    aspect-ratio: 1 / 1.1;
    padding: 5%;
    padding-top:10%;
}

.membership input{
    margin-bottom:10px;
    width:100%;
    height: clamp(30px, 3vw, 40px);
    border:3px solid #e7e7e7;
    border-radius: 4px;
}

.membership input:focus{
    outline: none;
    border-color: #d9ed92;
}

.membership-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: max(20px, 3vw);
}

.membership-inputChk {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membership ul{
    margin-top: 10px;
    margin-bottom: 20px;
    width:100%;
    list-style:none;
    padding:0;
}

.membership li{
    margin-bottom:5px;
    font-size:12px;
}

.membership-input.error{
    border: 2px solid #d9ed92;
}

.membership button{
    width:100%;
    margin-bottom:20px;
}

.membership-button{
    background-color: #e7e7e7;
}

.membership-button.success:hover{
    background-color: #d9ed92;
    border:none;
}