img.membership-logo {
    width: 200px;
    margin-top: 20px;
}
.membership {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.membership-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 40%;
    max-width: 800px;
    border: 4px solid #f7f9f3;
    border-radius: 12px;
}

.membership input{
    margin-bottom:10px;
    width:70%;
    height:30px;
    border:3px solid #f7f9f3;
    border-radius: 4px;
}

.membership input:focus{
    outline:none;
    background-color: rgb(181 228 140 / 41%);
}

.membership form{
    width:100%;
}


.membership-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membership-inputChk {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membership ul{
    width:70%;
}

.membership li{
    font-size:12px;
}

.membership-input.error{
    border: 2px solid #99d98c;
}

.membership button{
    width:70%;
    margin-bottom:20px;
}

.membership-button.success:hover{
    background-color: #d9ed92;
    border:none;
}