.userLogin {
    display: flex;
    align-items: center;
    justify-content: center;
}
.userLogin-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
    max-width: 400px;
    min-width: 300px;
    border-radius: 12px;
}

img.userLogin-logo {
    width: 200px;
}

.userLogin-form{
    margin-top: 20px;
    display:flex;
    flex-direction:column;
    margin-bottom: 40px;
    align-items:center;
}

.userLogin-input{
    margin-bottom: 17px;
    width:100%;
    height: 35px;
    border:3px solid #f7f9f3;
    border-radius: 4px;
}

.userLogin-input:focus{
    outline:none;
    background-color: rgb(181 228 140 / 41%);
}

.userLogin form{
    width:100%;
}



.userLogin-err {
    height: 20px;
    margin-bottom: 30px;
}

/*버튼*/

button,
button:hover,
button:active,
button:focus,
button:focus-visible {
  border: none;
  outline: none;
  box-shadow: none;
}

.userLogin-form button{
    width: 100%;
}

.userLogin-form button:hover{
    background-color: #d9ed92;
    border:none;
}

/* 회원정보 찾기 */
.uL-find {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.uL-find a {
    color: black;
}
